---
grafana:
  # -- Deploy Grafana if enabled. See [upstream readme](https://github.com/grafana/helm-charts/tree/main/charts/grafana#configuration) for full values reference.
  enabled: true
  replicas: 1
  resources:
    requests:
      cpu: 150m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  sidecar:
    dashboards:
      enabled: true
      resources:
        requests:
          cpu: 30m
          memory: 32Mi
        limits:
          cpu: 50m
          memory: 64Mi
  datasources:
    datasources.yaml:
      apiVersion: 1
      datasources:
        - name: Loki
          uid: loki
          type: loki
          url: http://{{ .Release.Name }}-loki-gateway
          isDefault: false
        - name: Mimir
          uid: prom
          type: prometheus
          url: http://{{ .Release.Name }}-mimir-nginx/prometheus
          isDefault: true
        - name: Tempo
          uid: tempo
          type: tempo
          url: http://{{ .Release.Name }}-tempo-query-frontend:3100
          isDefault: false
          jsonData:
            tracesToLogsV2:
              datasourceUid: loki
            lokiSearch:
              datasourceUid: loki
            tracesToMetrics:
              datasourceUid: prom
            serviceMap:
              datasourceUid: prom

loki:
  # -- Deploy Loki if enabled. See [upstream readme](https://github.com/grafana/helm-charts/tree/main/charts/loki-distributed#values) for full values reference.
  enabled: true
  commonConfig:
    replication_factor: 1
  distributor:
    replicas: 1
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
  gateway:
    replicas: 1
    resources:
      requests:
        cpu: 25m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi
  ingester:
    replicas: 1
    resources:
      requests:
        cpu: 200m
        memory: 384Mi
      limits:
        cpu: 400m
        memory: 1Gi
  querier:
    replicas: 1
    resources:
      requests:
        cpu: 150m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi
  queryFrontend:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
  compactor:
    enabled: true
    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi
  indexGateway:
    replicas: 1
    resources:
      requests:
        cpu: 40m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
  loki:
    server:
      grpc_server_max_recv_msg_size: 104857600
      grpc_server_max_send_msg_size: 104857600
    schemaConfig:
      configs:
      - from: "2020-09-07"
        store: tsdb
        object_store: aws
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
    storageConfig:
      tsdb_shipper:
        shared_store: s3
        active_index_directory: /var/loki/index
        cache_location: /var/loki/cache
        cache_ttl: 168h
      aws:
        s3: http://lgtm:supersecret@lgtm-minio:9000/loki
        s3forcepathstyle: true
        endpoint: lgtm-minio:9000
        insecure: true



# -- Mimir chart values. Resources are set to a minimum by default.
mimir:
  # -- Deploy Mimir if enabled. See [upstream values.yaml](https://github.com/grafana/mimir/blob/main/operations/helm/charts/mimir-distributed/values.yaml) for full values reference.
  enabled: true
  server:
      grpc_server_max_concurrent_streams: 1000
      grpc_server_max_recv_msg_size: 104857600
      grpc_server_max_send_msg_size: 104857600
  structuredConfig:
      common:
        storage:
          backend: s3
          s3:
            access_key_id: lgtm
            secret_access_key: supersecret
            endpoint: lgtm-minio.monitoring.svc:9000
            insecure: true
      blocks_storage:
        s3:
          bucket_name: mimir-tsdb
      alertmanager_storage:
        s3:
          bucket_name: mimir-ruler
      ruler_storage:
        s3:
          bucket_name: mimir-ruler
      ingester:
        ring:
          min_ready_duration: 0s
          final_sleep: 0s
          heartbeat_timeout: 10m
          replication_factor: 2
      store_gateway:
        sharding_ring:
          wait_stability_min_duration: 0s
          heartbeat_timeout: 10m
      compactor:
        sharding_ring:
          wait_stability_min_duration: 0s
      limits:
        max_global_series_per_user: 10000000
        ingestion_rate: 150000
        ingestion_burst_size: 300000
  metaMonitoring:
    dashboards:
      enabled: true
    serviceMonitor:
      enabled: true
      labels:
        release: prometheus-operator
    prometheusRule:
      enabled: true
      mimirAlerts: true
      mimirRules: true
      labels:
        release: prometheus-operator
  compactor:
    resources:
      requests:
        cpu: 200m
        memory: 512Mi
      limits:
        cpu: 400m
        memory: 1Gi
  distributor:
    resources:
      requests:
        cpu: 300m
        memory: 512Mi
      limits:
        cpu: 600m
        memory: 1Gi
  ingester:
    replicas: 2
    zoneAwareReplication:
      enabled: false
    resources:
      requests:
        cpu: 400m
        memory: 1Gi
      limits:
        cpu: 800m
        memory: 2Gi
  overrides_exporter:
    resources:
      requests:
        cpu: 25m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi
  querier:
    replicas: 1
    resources:
      requests:
        cpu: 250m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
  query_frontend:
    replicas: 1
    resources:
      requests:
        cpu: 150m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi
  query_scheduler:
    replicas: 1
    resources:
      requests:
        cpu: 20m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi
  store_gateway:
    zoneAwareReplication:
      enabled: false
    resources:
      requests:
        cpu: 300m
        memory: 768Mi
      limits:
        cpu: 600m
        memory: 1.5Gi
  nginx:
    replicas: 1
    resources:
      requests:
        cpu: 25m
        memory: 32Mi
      limits:
        cpu: 50m
        memory: 64Mi
  minio:
    enabled: true
    rootPassword: supersecret
    rootUser: lgtm
    replicas: 1
    resources:
      requests:
        cpu: 150m
        memory: 384Mi
      limits:
        cpu: 250m
        memory: 896Mi
    buckets:
    - name: mimir-tsdb
      policy: none
      purge: false
    - name: mimir-ruler
      policy: none
      purge: false
    - name: loki
      policy: none
      purge: false
    - name: tempo
      policy: none
      purge: false
  rollout_operator:
    enabled: false

  # optional - disabled to save resources
  ruler:
    enabled: false
  alertmanager:
    enabled: false

tempo:
  # -- Deploy Tempo if enabled.  See [upstream readme](https://github.com/grafana/helm-charts/blob/main/charts/tempo-distributed/README.md#values) for full values reference.
  enabled: true
  distributor:
    replicas: 1
    resources:
      requests:
        cpu: 200m
        memory: 256Mi
      limits:
        cpu: 400m
        memory: 512Mi
  ingester:
    replicas: 1
    config:
      replication_factor: 1
    resources:
      requests:
        cpu: 300m
        memory: 512Mi
      limits:
        cpu: 600m
        memory: 1Gi
  querier:
    replicas: 1
    resources:
      requests:
        cpu: 200m
        memory: 384Mi
      limits:
        cpu: 400m
        memory: 768Mi
  queryFrontend:
    replicas: 1
    resources:
      requests:
        cpu: 50m
        memory: 64Mi
      limits:
        cpu: 100m
        memory: 128Mi
  compactor:
    replicas: 1
    resources:
      requests:
        cpu: 150m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi
  metaMonitoring:
    serviceMonitor:
      enabled: true
      labels:
        release: prometheus-operator
    prometheusRule:
      enabled: true
      labels:
        release: prometheus-operator
  storage:
    trace:
      backend: s3
      s3:
        bucket: tempo
        prefix: traces
        endpoint: lgtm-minio:9000
        insecure: true
        access_key: lgtm
        secret_key: supersecret
  traces:
    otlp:
      grpc:
        enabled: true
      http:
        enabled: true
  metricsGenerator:
    enabled: true
    replicas: 1
    resources:
      requests:
        cpu: 150m
        memory: 256Mi
      limits:
        cpu: 300m
        memory: 512Mi
    config:
      storage:
        remote_write:
        - url: http://lgtm-mimir-nginx/api/v1/push
          send_exemplars: true
  global_overrides:
    defaults:
      metrics_generator:
        processors:
          - service-graphs
          - span-metrics

