namespaceOverride: ""
rbac:
  create: true
releaseLabel: true
prometheus:
  prometheusSpec:
    scrapeInterval: "120s"
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
    remoteWrite:
    - url:  http://lgtm-mimir-nginx:80/api/v1/push
    externalLabels:
       environment: mimir
  monitor:
    enabled: true
    interval: ""
    sampleLimit: 0
    targetLimit: 0
    labelLimit: 0
    labelNameLengthLimit: 0
    labelValueLengthLimit: 0
    scrapeTimeout: ""
    proxyUrl: ""
    honorLabels: true
    metricRelabelings: []
    relabelings: []

# For cloud provider environments turn to false
kubeScheduler:
  enabled: false
kubeControllerManager:
  enabled: false
kubeEtcd:
  enabled: false
kubeProxy:
  enabled: false

# Reduce node-exporter and kube-state-metrics resources
prometheus-node-exporter:
  resources:
    requests:
      cpu: 10m
      memory: 32Mi
    limits:
      cpu: 50m
      memory: 64Mi

kube-state-metrics:
  resources:
    requests:
      cpu: 20m
      memory: 64Mi
    limits:
      cpu: 100m
      memory: 128Mi

grafana:
  enabled: false
  forceDeployDashboards: true

alertmanager:
  enabled: false

